<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">Category Details</h5>
                            </div>
                            <table class="table">
                                  <thead>
                                    <tr>

                                      <th scope="col">Category Name</th>
                                      <th scope="col">Product Name </th>
                                      <th scope="col">Price</th>
                                        <th scope="col">Description</th>

                                      <th scope="col">Product Image</th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                  {%  for i in pro %}
                                    <tr>

                                      <td>{{i.CategoryName}}</td>
                                      <td>{{i.ProductName}}</td>
                                      <td>{{i.Price}}</td>
                                        <td>{{i.Description}}</td>
                                      <td>
                                          <img src="{{i.ProductImage.url}}" width="100px" height="100px"></td>

                                         <td>
                                            <a href="{%url 'editproductpage' p_id=i.id %}">
                                                    <button>edit</button>
                                                </a>
                                        </td>
                            <td>
                                            <a href="{%url 'deleteproduct' p_id=i.id %}">
                                                    <button>delete</button>
                                                </a>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                  </tbody>
                            </table>
                        </div>

</body>
</html>
{% endblock %}
</body>
</html>