<!DOCTYPE html>
{% extends 'index.html' %}
{%  block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
                                <div class="card">
                                    <form class="form-horizontal"  method="post" action="{% url 'update_category' c_id=data.id  %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                    <div class="card-body">
                                    <h4 class="card-title">Category Info</h4>
                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Category Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="fname" placeholder="Category Name" name="name" value="{{data.CategoryName}}">
                                        </div>
                                    </div>
<!--                                    <div class="form-group row">-->
<!--                                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Last Name</label>-->
<!--                                        <div class="col-sm-9">-->
<!--                                            <input type="text" class="form-control" id="lname" placeholder="Last Name Here">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="form-group row">-->
<!--                                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Password</label>-->
<!--                                        <div class="col-sm-9">-->
<!--                                            <input type="password" class="form-control" id="lname" placeholder="Password Here">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="form-group row">-->
<!--                                        <label for="email1" class="col-sm-3 text-right control-label col-form-label">Company</label>-->
<!--                                        <div class="col-sm-9">-->
<!--                                            <input type="text" class="form-control" id="email1" placeholder="Company Name Here">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="form-group row">-->
<!--                                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Contact No</label>-->
<!--                                        <div class="col-sm-9">-->
<!--                                            <input type="text" class="form-control" id="cono1" placeholder="Contact No Here">-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <div class="form-group row">
                                    <label class="col-md-3">Category Image</label>
                                    <div class="col-md-9">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="image"  >
                                            <label class="custom-file-label" >Choose file...</label>
                                            <img src="{{data.CategoryImage.url}}" width="100px" height="100px">
                                        </div>
                                    </div>
                                </div>
                                    <div class="form-group row">
                                        <label  class="col-sm-3 text-right control-label col-form-label">Description</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" name="description">{{data.Description}}</textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                                    </form>
                                    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'warning' %}
            <script>
                swal('{{ i }}', '', 'warning')
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{ i }}', '', 'error')
            </script>
        {% elif i.tags == 'success' %}
            <script>
                swal('{{ i }}', '', 'success')
            </script>
        {% else %}
            <script>
                swal('{{ i }}', '', 'info')
            </script>

        {% endif %}
    {% endfor %}
{% endif %}
 </div>

</body>
</html>
{% endblock %}